body {
    background-color: #2E3047;
    font-family: 'Playfair Display', Times New Roman, serif;
  }

  .btn.btn-primary {
    background-color: #3BBA9C;
    border-color: #2E3047;
    color: #43455C;
  }

  .navbar {
    background-color: #43455C;
    color: #3BBA9C;
  }
  
  .card-body{
    background-color: #43455C;
    color: #3BBA9C;
  }

.navbar-brand {
    font-size:34px;
    color: #3BBA9C;
  }

  .nav-link:hover {
    font-size:20px;
    color: #3BBA9C;
  }

  .form-label-edit {
    text-align: center;
    font-size: 30px;
    color: #707793;
  }

  .btn-outline-light:hover {
    background-color: #3BBA9C;
    border-color:  #2E3047;
    color:#43455C; 
  }
/* Login page CSS */
  .login-container {
    margin-top: 40px;
    margin-bottom: 120px;
  }

  .form-control {
    background-color: #707793;
    color: #3BBA9C; 
    text-align: center;
  }

  .form-label {
    color: #3BBA9C;
  }

  .dropdown-divider {
    padding-top: 20px;
  }
  .form-label {
    font-size: 25px;
  }

  /* homepage css */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

.card {
    background-color: #43455C;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
  }

.post-link {
  color:#3BBA9C;
  text-decoration: none;
}


/* Comment Page CSS */

#exampleModalLabel{
  color: #3BBA9C ;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

#backBtn {
  margin-left: auto;
}

.post-card {
  background-color: #43455C;
  color: #3BBA9C;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 20px;
}
.custom-textbox {
  width: 100%;
  height: 100px; 
}

.modal-content {
  background-color: #2E3047;
}

.form-label-name {
  font-size: 30px;
  color: #707793;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

textarea {
  height: 150px;
}

/* dashbaord css */
#updateBtn {
  margin-top: 10px;
}
 #addPostBtn {
  margin-top: 20px;
 }

/* Media queries for mobile devices */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 24px;
  }

  .card-grid {
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-right: 10px;
  }

  .card {
    height: auto;
  }
}